{% extends "users/base_email.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<p style="margin: 0;">Tap the button below to reset your customer account password.
If you didn't request a new password, you can safely delete this email.</p>
{% endblock %}

{% block button %}reset password{% endblock %}

{% block action %}
<p style="margin: 0;">You received this email because we received a request for password reset for your account.
If you didn't request password reset you can safely delete this email.</p>
{% endblock %}